<header>
    <nav>
        <a href="/">Villapod</a>
        <ul>
            <li><a href="/shows">Shows</a></li>
            <li><a href="/shows/new">Add Show</a></li>
        </ul>
    </nav>
</header>